.legend {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    flex-grow: 1;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        width: fit-content;
        margin-bottom: 12px;
        margin-top: 20px;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 20px;
        color: white;
        width: fit-content;

        border-bottom: 1px solid #a8a8a8;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .border {
        width: 100%;
        height: 1px;
        background-color: #d78453;
        margin-bottom: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        padding-left: 7px;
    }
}